*.pyc
data/features/*
data/real/*
data/synthetic/diffusion/*
data/synthetic/gan/*
data/turing_tests/*
__pycache__
foo.pypretrained/MUSIQ/musiq_spaq_ckpt.npz
pretrained/MUSIQ/archive.tar
pretrained/MUSIQ/saved_model.pb
checkpoints/*
wandb
.mypy_cache
*.h5
*.tar
ijepa/logs/*
*.npy
