*.pyc
data/features/*
data/real/*
data/synthetic/diffusion/*
data/synthetic/gan/*
data/turing_tests/*
__pycache__
data/preprocesing/*
data/diffusion_chesxpert
data/diffusion_chesxpert*
data/real_chestxpert/
data/real_chestxpert/*

foo.pypretrained/MUSIQ/musiq_spaq_ckpt.npz
pretrained/MUSIQ/archive.tar
pretrained/MUSIQ/saved_model.pb
checkpoints/*
wandb
.mypy_cache
*.h5
*.tar
ijepa/logs/*
*.npy
*.png
*.svg
*.csv
*.pyclear
*.json
